<%= form_for(@test_contact_detail) do |f| %>
  <% if @test_contact_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_contact_detail.errors.count, "error") %> prohibited this test_contact_detail from being saved:</h2>

      <ul>
      <% @test_contact_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
