<p id="notice"><%= notice %></p>

<h1>Listing Test Contact Basics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_contact_basics.each do |test_contact_basic| %>
      <tr>
        <td><%= test_contact_basic.name %></td>
        <td><%= link_to 'Show', test_contact_basic %></td>
        <td><%= link_to 'Edit', edit_test_contact_basic_path(test_contact_basic) %></td>
        <td><%= link_to 'Destroy', test_contact_basic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test contact basic', new_test_contact_basic_path %>
